body {
  background-color: powderblue;
}
h1 {
  color: blue;
  text-align: center;
}
.center{
  align-items: center;
  background-color: #00ffff30;
  margin-right: 2%;
  margin-left: 2%;
}
.content{
  padding-bottom: 0.2%;
  padding-top: 0.2%;
  padding-right:05%;
  margin-right:15%;
  margin-left:15%;
  background-color: #00008080;
}
.navbar{
  margin-right: 15%;
  margin-left: 15%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}
ul li {
  margin-right: 20px;
}
.nav{
  flex: 1,0,40%;
  padding: 10px;
}
.logo{
  background-color: navy;
  flex: 1,0,40%;
  padding: 10px;
  font-size: 1.5rem;
  color: #FFFFFFFF;
}

